title{
    
    background-color: blueviolet;

}

body{
    background-color: blue;
}

h1{
    width: 60px;
    border: 60px;
    background-color: #3d1879;
}

button{
    background-color: blue;
  cursor: pointer;
}